/* RECIPE INFO */

h1.start{
    margin: 0;
    font-size: 1.5em;   
    text-align: center;
    background-color: #8A8070;     
    padding: 5px 0;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
}

.recipe-intro{
    background-color: #7ABA9650;
    padding: 15px;
    border-radius: 15px;
    color: black;
    margin-bottom: 10px;
}

.recipe-intro h1.start{
    margin-top: 0;
}

.recipe-ing{
    justify-content: center;
}

.recipe-ing div{
    background-color: #8A8070;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.recipe-ing h2{    
    font-size: 1.17em;
    margin: 5px 0;
}

.recipe-ing ul{    
    padding: 0;    
    margin: 0;
    list-style-type: none;
    align-items: justify;
    margin-bottom: 5px;
}

.recipe-ing ul li{
    margin: 0 15px;
}

/* STEPS */

.recipe-steps article{
    margin-bottom: 15px;
    padding: 5px 15px;
    background-color: #7ABA9650;
    border-radius: 10px;
}

.recipe-steps .recipe-step-info{
    align-items: center;    
    border-bottom: 2px solid #8A8070;
    justify-content: space-between;    
    padding: 2.5px 0;    
}

.recipe-steps .recipe-step-info h3{    
    text-transform: uppercase;
    margin: 0;
}

.recipe-steps .recipe-step-info span{    
    background-color: white;
    padding: 2.5px;
    border-radius: 5px;
}

.recipe-step-desc {
    padding: 10px 0;
}

.recipe-steps .recipe-step-desc img{
    border-radius: 5px;    
}

.recipe-steps .recipe-step-desc .inner-content{
    padding: 15px
}

.recipe-steps .recipe-step-desc .inner-content p{
    text-align: justify;
    margin: 0;
}